.MyFooter{
    margin-top: 100px;
    width: 100%;
    height: 200px;
    text-align: center;
    h3{
       margin-bottom: 20px;
    }
    div{
        margin-top: 20px;
        img{
            cursor: pointer;
            margin-left: 10px;
            width: 30px;
        }
    }
}