.cardMovie{
 height: 500px;
 width: 250px;
  img{
    height: 80%;
    border-radius: 10px;
  }
  h3{
    margin-bottom: 10px;
  }
  div {
    
    display: flex;
    justify-content: space-between;
  }
}